<form action="/post" class="form wow fadeInUp" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <label for="username">Name</label>
  <input type="text" name="username" id="username">
  <div class="row">
    <div class="col-sm-6">
      <label for="tel">Phone</label>
      <input type="tel" name="tel" id="tel">
    </div>
    <div class="col-sm-6">
      <label for="email">Email</label>
      <input type="email" name="email" id="email">
    </div>
  </div>
  <label for="description">Message</label>
  <textarea name="description" id="description" cols="30" rows="10"></textarea>
  <!-- <%= date %> -->
  <%= errors %>
  <div class="btn-group btn-group--center form__btn-group">
    <input type="submit" class="btn btn--primary btn--md" value="Send">
  </div>
</form>