<div class="timeline"></div>
<div class="timeline-cards wow bounceInUp">
  <div class="timeline-cards__row">
    <div class="timeline-card">
      <h4>Modern Web 2016</h4>
      <p class="timeline-card__text">
        I have sent recommended letter to Modern Web Offical and access to the big Tech Summit
      </p>
    </div>
  </div>
  <div class="timeline-cards__row">
    <div class="timeline-card wow bounceInUp">
      <h4>ASUS UI/UX Campus Dreams Project</h4>
      <p class="timeline-card__text">
        Join ASUS UI/UX Campus Dreams Project and make ZenUI mobile theme package. This product is on the market.
      </p>
    </div>
  </div>
  <div class="timeline-cards__row">
    <div class="timeline-card wow bounceInUp">
      <h4>2017 Mobile Apps Innovation Tournament</h4>
      <p class="timeline-card__text">
          Join 017 Mobile Apps Innovation Tournament and be responsible to coding, UI/UX, proposal by myself.
      </p>
    </div>
  </div>
  <div class="timeline-cards__row">
    <div class="timeline-card wow bounceInUp">
      <h4>14th Microsoft Taiwan Intern Program</h4>
      <p class="timeline-card__text">
        I was the Research Developer Assistant(RDAA) of department PSG and mainly incharge of teaching Office 365, Windows 10 and STEM for Education to teachers or school administrators in school.
      </p>
    </div>
  </div>
  <div class="timeline-cards__row">
    <div class="timeline-card wow bounceInUp">
      <h4>2017 NTUE Web & App Creative Competition</h4>
      <p class="timeline-card__text">
          Join 2017 NTUE Web & App Creative Competition and second place in the Competition. I was responsible to coding and planning in the project.
    </div>
  </div>
</div>
