<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <title>Alan's CV</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalabel=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="image/favicon.ico" />
  <!-- CSS -->
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">｀
	<link rel="stylesheet" href="css/component.css">
</head>
<body>
  <div class="wrapper">
    <!-- Start bg -->
    <div class="bg"></div>
    <!-- End bg -->

    <!-- Start header -->
    <header class="header js-header">
      <div class="container">
        <div class="navbar navbar--collapse u-clearfix">
          <div class="social-bar navbar＿social-navbar">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100009121597769" class="icon-btn">
              <i class="icon icon-facebook-official"></i>
            </a>
            <a target="_blank" href="https://dribbble.com/s110319022" class="icon-btn">
              <i class="icon icon-dribbble"></i>
            </a>  
            <a target="_blank" href="https://www.behance.net/s1103190223bf3" class="icon-btn">
              <i class="icon icon-behance"></i>
            </a>
          </div>
          <% include hamburger %>
        </div>
      </div>
    </header>
    <!-- End header -->

    <!-- Start main -->
    <section class="main">

    <!-- Start about -->
      <div id="about" class="hero">
        <img class="graphic_001 u-xs-hidden" src="image/parallax_graphic/tri-blue.svg" alt="blue_tri" data-stellar-ratio="1.5">
        <img class="graphic_002" src="image/parallax_graphic/cir-pink-sm.svg" alt="pink-cir" data-stellar-ratio="1.5">
        <div class="hero__bg"></div>
        <div class="container">
          <div class="hero__content wow bounceInLeft">
            <h1 class="hero__heading">HELLO<br>I'M ALAN</h1>
            <a href="#contact" class="btn btn--primary btn--lg">Contact</a>
          </div>
        </div>
      </div>
    <!-- End about -->
      <!-- Start quote -->
      <div class="quote bg-color-white lean-bg--top lean-bg--no-margin">
        <img class="graphic_003 u-xs-hidden" data-stellar-ratio="1.5" src="image/parallax_graphic/tri-purple.svg" alt="">
        <img class="graphic_004 u-xs-hidden" data-stellar-ratio="1.5" src="image/parallax_graphic/dot-blue.svg" alt="">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-push-3">
              <div class="quote__content">
                <div class="quote__icon">
                  <i class="icon-quote-right"></i>
                </div>
                <p class="quote__text">
                  Hi, I'm Alan Chao, graduated from National Taipei University of Education with Department of Digital Technology Design. I'm a first-year graduate student in Master Program in Toy and Game Design in National Taipei University of Education and devote myself to Front-end development with Motion Graphic. 
                </p>
                <div class="quote__name">
                  <span>Alan Chao - </span>from NTUE_DTD
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End quote -->
      <!-- Start skill -->
      <div id="skill" class="skill bg-color-white lean-bg--bottom">
        <img class="graphic_005" data-stellar-ratio="1.5" src="image/parallax_graphic/cir-pink-md.svg" alt="">
        <img class="graphic_006" data-stellar-ratio="1.5" src="image/parallax_graphic/dot-grey.svg" alt="">
        <% include skill %>
      </div> 
      <!-- End skill -->
      <!-- Start experience -->
      <div id="experience" class="experience">
        <!-- <img class="graphic_007 u-xs-hidden" data-stellar-ratio="1.5" src="image/parallax_graphic/cir-purple-lg.svg" alt=""> -->
        <img class="graphic_008" data-stellar-ratio="1.5" src="image/parallax_graphic/dot-grey.svg" alt="">
        <img class="graphic_009" data-stellar-ratio="1.5" src="image/parallax_graphic/cir-pink-sm.svg" alt="">
        <img class="graphic_010 u-xs-hidden" data-stellar-ratio="1.5" src="image/parallax_graphic/dot-blue.svg" alt="">
        <div class="container">
          <h2 class="subtitle u-text-center color-white  wow bounceInUp">EXPERIENCE</h2>
          <div class="timeline-group">
            <% include experience %>
          </div>
        </div>
      </div>
      <!-- End experience -->
      <!-- Start work -->
      <div id="work" class="work bg-color-white lean-bg--top lean-bg--bottom">
        <img class="graphic_011" data-stellar-ratio="1.5" src="image/parallax_graphic/cir-pink-lg.svg" alt="">
        <img class="graphic_012" data-stellar-ratio="1.5" src="image/parallax_graphic/dot-grey.svg" alt="">
        <img class="graphic_013" data-stellar-ratio="1.5" src="image/parallax_graphic/tri-blue.svg" alt="">
        <img class="graphic_014 u-xs-hidden" data-stellar-ratio="1.5" src="image/parallax_graphic/cir-purple-md.svg" alt="">
        <img class="graphic_015" data-stellar-ratio="1.5" src="image/parallax_graphic/dot-grey.svg" alt="">
        <img class="graphic_016" data-stellar-ratio="1.5" src="image/parallax_graphic/cir-pink-md.svg" alt="">
        <img class="graphic_017" data-stellar-ratio="1.5" src="image/parallax_graphic/dot-blue.svg" alt="">
        <img class="graphic_018" data-stellar-ratio="1.5" src="image/parallax_graphic/cir-pink-sm.svg" alt="">
        <img class="graphic_019" data-stellar-ratio="1.5" src="image/parallax_graphic/tri-purple.svg" alt="">
        <div class="container">
          <h2 class="subtitle u-text-center wow bounceInUp">MY WORKS</h2>
          <div class="work-list">
            <% include mywork%>
          </div>
          <div class="btn-group btn-group--center ">
            <a href="" class="btn btn--secondary btn--md wow bounceIn">More works</a>
          </div>
        </div>
      </div>
      <!-- End work -->
    <!-- Start contact -->
    <div id="contact" class="contact">
      <img class="graphic_020" data-stellar-ratio="1.5" src="image/parallax_graphic/dot-grey.svg" alt="">
      <img class="graphic_021" data-stellar-ratio="1.5" src="image/parallax_graphic/cir-pink-sm.svg" alt="">
      <img class="graphic_022" data-stellar-ratio="1.5" src="image/parallax_graphic/tri-blue.svg" alt="">
      <img class="graphic_023 u-xs-hidden" data-stellar-ratio="1.5" src="image/parallax_graphic/dot-blue.svg" alt="">
      <img class="graphic_024" data-stellar-ratio="1.5" src="image/parallax_graphic/cir-purple-md.svg" alt="">
      <div class="container">
        <h2 class="subtitle u-text-center color-white  wow bounceInUp">CONTACT</h2>
        <% include contact %>
        <div class="divide-text wow fadeInUp">or</div>
        <div class="info">
          <div class="info_email wow bounceInUp">
            <a href="mailTo:s110319022@gmail.com">s110319022@gmail.com</a>
          </div>
          <div class="info_phone wow bounceInUp">
            <a href="tel:0938379357">0938379357</a>
          </div>
          <div class="social-bar info__social-bar">
            <a href="https://twitter.com/s110319022" class="icon-btn wow bounceIn" data-wow-delay="0.3s">
              <i target="_blank" class="icon icon-twitter"></i>
            </a>
            <a href="https://dribbble.com/s110319022" class="icon-btn wow bounceIn" data-wow-delay="0.6s">
              <i target="_blank" class="icon icon-dribbble"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100009121597769" class="icon-btn wow bounceIn" data-wow-delay="0.9s">
              <i target="_blank" class="icon icon-facebook-official"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End contact -->
    </section>
    <!-- End main -->
    <!-- Start footer -->
    <footer class="footer">
      <div class="container">
        <p class="final-text">
          在未來的道路上，我希望自己能成為一個有核心價值的人，我能與團隊有良好的溝通，我想要加強自己的英文能力和理解能力， 這使我在閱讀原文的教學文章會更有效率，最後也是最重要的程式與設計能力，希望能更有效率的開發專案，並當遇到問題時，有獨立思考並解決難題的迅速反應及思維
        </p>
        <p class="copyright">Copyright @ 2018 Alan's CV demo</p>
      </div>
    </footer>
    <!-- End footer -->
  </div>
  <!-- JS -->
  <script src="js/jquery-2.0.2.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/custom.js"></script>
</body>
</html>