<div class="work-item wow fadeInUp">
  <div class="row">
    <div class="col-sm-6 col-sm-push-5">
      <div class="imgbox">
        <a href="image/works/work001.jpg" class="" data-fancybox="group">
          <div class="imgbox__inner imgbox__inner--4-3">
            <div class="image" style="background-image: url('image/works/thumbnail/work001_thumb.jpg');"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-sm-pull-5">
      <div class="work-item__text work-item__text--right">
        <h3 class="work-item__title work-item__title--right">Share drum tab - DrumlessVision</h3>
        <p class="work-item__intro">這是一個分享鼓譜的平台同時也可以放上Cover歌曲的影片對照著鼓譜練習。除此之外，他也是一個賣所有跟鼓相關樂器的電商平台</p>
        <a href="https://github.com/ChaoTzuJung/DrumlessVision" target="_blank" class="text-btn text-btn--primary text-btn--lg">Show project</a>
      </div>
    </div>
  </div>
</div>
<div class="work-item wow fadeInUp">
  <div class="row">
    <div class="col-sm-6 col-sm-push-1">
      <div class="imgbox">
        <a href="image/works/work002.png" class="" data-fancybox="group">
          <div class="imgbox__inner imgbox__inner--4-3">
            <div class="image" style="background-image: url('image/works/thumbnail/work002_thumb.png');"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-sm-push-1">
      <div class="work-item__text">
        <h3 class="work-item__title work-item__title--left">Online learning APP - Re:Class</h3>
        <p class="work-item__intro">嘗試做一個APP版的課程募資平台，但是基於人力與技術缺乏，目前還在開發中...</p>
        <a href="https://github.com/ChaoTzuJung/ReClass" target="_blank" class="text-btn text-btn--primary text-btn--lg">Show project</a>
      </div>
    </div>
  </div>
</div>
<div class="work-item wow fadeInUp">
  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      <div class="imgbox">
        <a href="image/works/work003.png" class="" data-fancybox="group">
          <div class="imgbox__inner imgbox__inner--4-3">
            <div class="image" style="background-image: url('image/works/thumbnail/work003_thumb.png');"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-sm-pull-5">
      <div class="work-item__text">
        <h3 class="work-item__title work-item__title--right">Do your best resume - Ms14thCamp</h3>
        <p class="work-item__intro">接手微軟實習計畫領袖營的APP專案，要製作抽房間系統與RPG遊戲計分板，其中我負責前端介面排版製作與設計，在活動中也深入了解版本管控與合作專案。</p>
        <a href="https://github.com/PSheon/MS14Camp" target="_blank" class="text-btn text-btn--primary text-btn--lg">Show project</a>
      </div>
    </div>
  </div>
</div>
<div class="work-item wow fadeInUp">
  <div class="row">
    <div class="col-sm-6 col-sm-push-1">
      <div class="imgbox">
        <a href="image/works/work004.png" class="" data-fancybox="group">
          <div class="imgbox__inner imgbox__inner--4-3">
            <div class="image" style="background-image: url('image/works/thumbnail/work004_thumb.jpg');"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-sm-push-1">
      <div class="work-item__text">
        <h3 class="work-item__title">shiny on Azure via ML studio - Titanic prediction</h3>
        <p class="work-item__intro">用鐵達尼號數據做出一個web service，上手Machine Learning Studio 以 Web 服務方式發佈模型，透過R Shiny做出可互動式預測結果並在 Azure 虛擬機器執行</p>
        <a href="https://github.com/rladiestaipei/Azureml-shiny-app" target="_blank" class="text-btn text-btn--primary text-btn--lg">Show project</a>
      </div>
    </div>
  </div>
</div>
<div class="work-item wow fadeInUp">
  <div class="row">
    <div class="col-sm-6 col-sm-push-5">
      <div class="imgbox">
        <a href="image/works/work005.jpg" class="" data-fancybox="group">
          <div class="imgbox__inner imgbox__inner--4-3">
            <div class="image" style="background-image: url('image/works/thumbnail/work005_thumb.jpg');"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-sm-pull-5">
      <div class="work-item__text work-item__text--right">
        <h3 class="work-item__title work-item__title--right">Study group platform - LiveShare</h3>
        <p class="work-item__intro">LIVESHARE是讀書會分享平台，致力於把大家各自有的好東西與知識，集結在一個平台上讓大家可以觀看學習，甚至進一步做一個討論及交流，希望透過LIVE的教學，提升自己的表達力以及即時的實作力，同時帶起大家自學的習慣及動力。</p>
        <a href="https://github.com/ChaoTzuJung/LiveShare" target="_blank" class="text-btn text-btn--primary text-btn--lg">Show project</a>
      </div>
    </div>
  </div>
</div>