<div class="container">    
    <h2 class="subtitle u-text-center wow bounceInUp">SKILL</h2>
    <div class="skill-group">
        <div class="row">
            <div class="col-sm-6">
                <div class="skill-card  wow bounceInUp">
                    <div class="skill-card__inner">
                        <h4 class="skill-card__title">
                        HTML
                        <p class="skill-card__text">
                            I can hand on web development with HTML5, CSS3, ES6 and jQuery, deploying on heroku or github. In addition, used some of the HTML tag to achieve SEO.
                        </p>
                        </h4>
                    </div>
                    <div class="skill-card__icon">
                        <img class="image" src="image/skill_icon/html-icon.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="skill-card  wow bounceInUp" data-wow-delay="0.3s">
                    <div class="skill-card__inner">
                        <h4 class="skill-card__title">
                        CSS
                        <p class="skill-card__text">
                            I have knew CSS animations, responsive design techniques, Flexbox and Grid layouts, Sass, CSS architecture BEM and OOCSS, framework of Bootstrape 4 and materialUI.
                        </p>
                        </h4>
                    </div>
                    <div class="skill-card__icon">
                        <img class="image" src="image/skill_icon/css-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="skill-card  wow bounceInUp" data-wow-delay="0.6s">
                    <div class="skill-card__inner">
                        <h4 class="skill-card__title">
                        REACT
                        <p class="skill-card__text">
                            I have ever built and deployed fullstack web apps with NodeJS, React, React Native, Redux, Express, Firebase and Google or Facebook OAuth authentication.
                        </p>
                        </h4>
                    </div>
                    <div class="skill-card__icon">
                        <img class="image" src="image/skill_icon/react-icon.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="skill-card  wow bounceInUp" data-wow-delay="0.9s">
                    <div class="skill-card__inner">
                        <h4 class="skill-card__title">
                        NODEJS
                        <p class="skill-card__text">
                            I have ever build a complete chat app with private and group chat functionalities using NodeJS, SocketIO, MongoDB, Express, EJS.
                        </p>
                        </h4>
                    </div>
                    <div class="skill-card__icon">
                        <img class="image" src="image/skill_icon/nodejs-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="skill-card wow bounceInUp" data-wow-delay="1.2s">
                    <div class="skill-card__inner">
                        <h4 class="skill-card__title">
                        PYTHON
                        <p class="skill-card__text">
                            I have ever built real world professional Django apps with Heroku, Django Model(ORM), Form Validation, Django Template, Restful API, Django cookie.
                        </p>
                        </h4>
                    </div>
                    <div class="skill-card__icon">
                        <img class="image" src="image/skill_icon/python-icon.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="skill-card  wow bounceInUp" data-wow-delay="1.5s">
                    <div class="skill-card__inner">
                        <h4 class="skill-card__title">
                            GIT
                            <p class="skill-card__text">
                                I often used git and GIT GUI - FORK to do Git version control for teamwork and use web hosting through the GitHub Pages service.
                            </p>
                        </h4>
                    </div>
                    <div class="skill-card__icon">
                        <img class="image" src="image/skill_icon/git-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="skill-card wow bounceInUp" data-wow-delay="1.8s">
                    <div class="skill-card__inner">
                        <h4 class="skill-card__title">
                        SKETCH
                        <p class="skill-card__text">
                            I have ever step-by-step through the process of re-creating every element on some amazing looking web pages or mobile app.
                        </p>
                        </h4>
                    </div>
                    <div class="skill-card__icon">
                        <img class="image" src="image/skill_icon/sketch-icon.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="skill-card  wow bounceInUp" data-wow-delay="2.1s">
                    <div class="skill-card__inner">
                        <h4 class="skill-card__title">
                            AI
                            <p class="skill-card__text">
                            Master the basics component production and drawing skills and experience design flow from Use Case, UI flow, flow cart, wireframe, prototype, mockup.
                            </p>
                        </h4>
                    </div>
                    <div class="skill-card__icon">
                        <img class="image" src="image/skill_icon/ai-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>